source_up

export PROJECT="$PWD"

PATH_add_script() {
	PATH_add "$PWD/.direnv/bin"
	install -D -m 0755 <(cat <<- EOF
		#!/bin/sh
		export PATH="${PATH//"$PWD/.direnv/bin:"/}"

		$(readlink -f "$1") \$*
	EOF
	) "$PWD/.direnv/bin/${2:-$1}"
}

PATH_add_script ./scripts/wrapper.sh hugo
